---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/text.scss'
import '../styles/buttons.scss'
import fondo from '../assets/fondo-foto.svg'
import styles from '../styles/Home.module.scss'
---

<Layout title="Eduardo Piña">
	<main class={styles.home}>
		<div class={styles.home__textContainer}>
			<h1>Hello, I'm Eduardo</h1>
			<span>Frontend developer</span>
			<div class={styles.home__buttons}>
				<a href="/about">
					<button class='primary'>WHO AM I?</button>
				</a>
				<a href="/contact">
					<button class='primary'>CONTACT ME</button></a>
			</div>
		</div>
		<div class={styles.home__imgContainer}>
			<img src="/foto.png" alt="home" class={styles.home__image} style="position: absolute; bottom: 0; right:60px; z-index: 1;" />
			<img src={fondo} alt="home" class={styles.home__image} style="position: absolute; bottom: 0; right:40px; opacity: 0.6;" />
		</div>
	</main>
</Layout>
