---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css';
import '../styles/text.scss'
import '../styles/buttons.scss'
import aboutStyles from '../styles/About.module.scss'
import Landing from '../components/Landing/Landing.astro';
---

<Layout title="Eduardo Piña">
	<Landing />
	<main id="about" class={`${aboutStyles.container} reveal`}>
    <div class={aboutStyles.description_container}>
      <h2>Building User-Friendly Apps since 2020</h2>
			<img class={aboutStyles.image} src="/foto-about.png" alt="">
      <div class={aboutStyles.description}>
        <span>I am an electronic engineer who decided to change the direction of his career to focus on software development. In the last 3 years, I’ve worked in front-end development, using  technologies like React JS, Vue JS, Vuetify, Tailwind CSS, Next JS, React Native, Flutter, among others. I'm passionate about learning new things and am always looking for opportunities to improve my skills and stay up to date with the latest trends in software development.
          <br><br>
          Currently, I work as a front-end developer at Keybe.ai, where we boost sales teams through artificial intelligence</span>
      </div>
      <div class={aboutStyles.buttons_container}>
        <a href="https://github.com/edjopima" target="_blank">
          <button class="primary">MY GITHUB</button>
        </a>
        <a href="/contact">
          <button class="primary ml-8">CONTACT ME</button></a>
      </div>
    </div>
  </main>

	<script lang="js">
		function reveal() {
			var reveals = document.querySelectorAll(".reveal");
			for (var i = 0; i < reveals.length; i++) {
				var windowHeight = window.innerHeight;
				var elementTop = reveals[i].getBoundingClientRect().top;
				var elementVisible = 150;
				if (elementTop < windowHeight - elementVisible) {
					reveals[i].classList.add("active");
				} else {
					reveals[i].classList.remove("active");
				}
			}
		}

		window.addEventListener("scroll", reveal);

		// To check the scroll position on page load
		reveal();
	</script>
</Layout>
